/* Header */
.header{
    background-image: url("assets/bg_1@2x.png"), url("assets/Bg_2@2x.png");
    min-height: 1000px;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 167px, 65%;
    background-position: left bottom, right top; 
}

/* Navigation Bar */
.custom-navbar {
    transition: 0.6s;
}

.custom-navbar.scrolled{
    background-color: green;

}
.page-header{
    padding : 8px 8px 8px 8px;
    /* border: 2px red solid; */
}
.contact-content{
    /* border: 2px green solid; */
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.contact-widget{
    margin: 10px 10px 10px 10px;
    padding: 8px 8px 8px 8px;
    width: 50%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-around;
}
.contact-form-wrapper{
    /* border: 2px blue solid; */
    padding : 10px 10px 10px 10px;
}